body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-field {
  margin: 4px 0;
  height: 44px;
  display: flex;
  text-align: left;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2px;
  line-height: 44px;
}

.login-field > label {
  background: rgba(31, 37, 85, 0.07);
  color: rgba(31, 37, 85, 0.75);
  fill: currentColor;
  display: flex;
  align-items: center;
  flex-basis: 24px;
  padding: 10px;
}

.login-field > label > svg {
  height: 100%;
  display: inline-block;
}

.login-field > input {
  text-align: left;
  color: #1f2555;
  background: 0 0;
  flex: 1;
  border: 0;
  border-left: 2px solid #fff;
  transition: border .25s ease-out;
  border-radius: 0 2px 2px 0;
}

.login-logo {
  width: 300px;
  margin: 10vh auto 5vh;
}

.login-button {
  background: #128297;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 10px 0;
  margin-top: 16px;
  outline: 0;
  position: relative;
  transition: all 0.25s ease-out;
}

.login-error {
  margin: 4px 0;
  color: #a6020d;
  background: #ffd9db;
  padding: 14px 0;
  font-size: .9em;
  border-radius: 2px;
  border: solid 1px transparent;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

#credentialsForm {
  height: 100vh;
  background-repeat: no-repeat;
  background-color: #1f2555;
  background-image: linear-gradient(-25deg, #125876 0%, #1f2555 30%);
  background-attachment: fixed;
  -webkit-tap-highlight-color: transparent;
  color: #fff;
  overflow:hidden;
}

#credentialsCard {
  flex-wrap: nowrap;
  padding-top: 40px;
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
}
